<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
  <h2>List</h2>
  


<div class="row">
  <div class="col-lg-2 col-xs-12">
	<button class="btn btn-primary" ng-click="list.gonnaAddTag()">Add New Tag</button>
	<div class="form-group" ng-show="list.addingTag">
	  <label class="control-label">Tag Name</label>
	  <input type="text" class="form-control" ng-model="list.newTagName" />
	  <button class="btn btn-success" ng-click="list.newTag()">Save</button>
	  <button class="btn btn-danger" ng-click="list.cancelTag()">Cancel</button>
	</div>
	<ul>
	  <li class="badge" ng-repeat="tag in list.tags">{{tag.tagName}}</li>
	</ul>
  </div>
  
  <div class="col-lg-10 col-xs-12">
	  <h4>Hey Dingus</h4>
	  <button class="btn btn-primary" ng-click="list.makeNewRecipe()">Make a New One</button>
	  <button class="btn btn-warning" ng-click="list.openSearch()">Yummy Search</button>

	 

	<form class="input-group topSpace" ng-show="list.searchVisible" ng-submit="list.searchYummy()">
	    <span class="input-group-btn">
	    	<button class="btn btn-success" type="button" ng-click="list.searchYummy()">
	    		<i class="glyphicon glyphicon-search"></i>
	    	</button>
	    </span>
	    <input type="text" class="form-control" ng-model="list.yumSearch" id="yummlySearchBox" />
    </form>
	  
	  
	  <ul ng-hide="list.searchVisible">
		<li ng-repeat="rec in list.recipes" class="recipeTitle" ng-click="list.goToRecipe(rec._id)">
		  {{rec.recipeName}}
		</li>
	  </ul>
	  
	  <table class="table table-striped" ng-show="list.searchVisible">
		  <tr ng-repeat="match in list.searchMatches">
		  	<td>
		  		<img src="{{match.image}}" alt="...">
		  	</td>
	  		<td>
	  			<strong>{{match.name}}</strong>
	  		</td>
			<td>
				<em>{{match.source}}</em>
			</td>
			<td>
				<button class="btn btn-primary" ng-click="list.goToYummly(match.recipeId)">VIEW</button>
			</td>

		  </tr>
		  <tr ng-show="list.searchMatches.length !== 0">		  
		  	<td colspan="4">
			  	<button class="btn btn-primary btn-sm pull-left" ng-click="list.prevPage()" ng-disabled="list.yumPage == 0">
			  		<i class="glyphicon glyphicon-chevron-left"></i>
		  		</button>	  		
			  	<button class="btn btn-primary btn-sm pull-right" ng-click="list.nextPage()">
			  		<i class="glyphicon glyphicon-chevron-right"></i>
		  		</button>
			  </td>
		  </tr>
	  </table>


	  

  </div>
</div>


</div>