<div ng-include="'components/navbar/navbar.html'"></div>

  <h2>List</h2>
  


<div class="row">
  <div class="col-lg-2 col-xs-12">
    <button class="btn btn-primary" ng-click="list.gonnaAddTag()">Add New Tag</button>
    <div class="form-group" ng-show="list.addingTag">
      <label class="control-label">Tag Name</label>
      <input type="text" class="form-control" ng-model="list.newTagName" />
      <button class="btn btn-success" ng-click="list.newTag()">Save</button>
      <button class="btn btn-danger" ng-click="list.cancelTag()">Cancel</button>
    </div>
    <ul>
      <li class="badge" ng-repeat="tag in list.tags">{{tag.tagName}}</li>
    </ul>
  </div>
  
  <div class="col-lg-10 col-xs-12">
      <h4>Hey Dingus</h4>
      <button class="btn btn-primary" ng-click="list.makeNewRecipe()">Make a New One</button>
      
      
      <ul>
        <li ng-repeat="rec in list.recipes" class="recipeTitle" ng-click="list.goToRecipe(rec._id)">
          {{rec.recipeName}}
        </li>
      </ul>
      
  </div>
</div>


