<div ng-include="'components/navbar/navbar.html'"></div>



<a class="btn btn-warning" href="#list">
  <i class="glyphicon glyphicon-arrow-left"></i>
</a>
<button class="btn btn-primary" ng-click="view.commenceEditing()">Edit</button>


<h3>{{view.recipe.recipeName}} <small>Serving Size: {{view.recipe.servingSize}}</small> </h3>

<div class="btn-group" ng-repeat="tag in view.recipeTags">
    <button class="btn btn-primary btn-sm">{{tag}}</button> &nbsp;
</div>

<dl>
    <dt>DESCRIPTION</dt>
    <dd>{{view.recipe.description}}</dd>
</dl>

<!-- <ul>
  <li class="badge" ng-repeat="tag in view.recipe.Tags">{{tag.tagName}}</li>
</ul> -->


<dl>
    <dt>SOURCE</dt>
    <dd>Martha Stewart's Greatest Hits - Christmas Time for Martha Town</dd>
</dl>

<div ng-repeat="group in view.ingredients" class="ingredientGroup">
    <strong>{{group.Title}}</strong>
    <div class="row ingredientLine">
        <div class="col-md-6" ng-repeat="ing in group.Ingredients">
          {{ing.ingredient}}
        </div>
    </div>
</div>



<dl class="dl-horizontal" ng-repeat="instructions in view.recipe.instructions">
    <dt>{{instructions.id}}.</dt>
    <dd>
        {{instructions.instruction}}
    </dd>
</dl>



<pre>{{view.recipe | json}}</pre>

<pre>{{ view.foodTags | json}}</pre>    