<div ng-include="'components/navbar/navbar.html'"></div>


<div class="row">
    <div class="col-md-12">
        <button class="btn btn-warning">
          <i class="glyphicon glyphicon-arrow-left" ng-click="view.backToList()"></i>
        </button>
        <button class="btn btn-primary" ng-click="view.commenceEditing()">Edit</button>
        <button class="btn btn-danger" ng-hide="view.activelyDeleting" ng-click="view.deleteRecipe()">Delete</button>

        <span ng-show="view.activelyDeleting" class="verticalLine"> 
            <i class="glyphicon glyphicon-remove"></i>
        </span>    
        
            <button class="btn btn-primary" ng-show="view.activelyDeleting" ng-click="view.cancelDelete()">Cancel</button>
            <button class="btn btn-danger" ng-show="view.activelyDeleting" ng-click="view.actuallyDeleteRecipe()">Yes, Delete</button>
        
    </div>
</div>

<div ng-show="view.loading">
    <h4>Loading</h4>
</div>


<h3>{{view.recipe.recipeName}} <small>Serving Size: {{view.recipe.servingSize}}</small> </h3>

<div class="row">
    <div class="col-md-12 recipeImageDiv">
        <img ng-src="{{view.recipe.imageUrl}}" alt="hi" />
    </div>
</div>


<div class="btn-group" ng-repeat="tag in view.recipeTags">
    <button class="btn btn-primary btn-sm">{{tag}}</button> &nbsp;
</div>

<dl>
    <dt>DESCRIPTION</dt>
    <dd>{{view.recipe.description}}</dd>
</dl>

<!-- <ul>
  <li class="badge" ng-repeat="tag in view.recipe.Tags">{{tag.tagName}}</li>
</ul> -->


<dl>
    <dt>SOURCE</dt>
    <dd>{{view.recipe.source}} - <small>{{view.recipe.sourceUrl}}</small></dd>    
</dl>

<h4>Ingredients</h4>
<div ng-repeat="group in view.recipe.ingredients" class="ingredientGroup">
    <strong>{{group.title}}</strong>
    <div class="row ingredientLine">
        <div class="col-md-6" ng-repeat="ing in group.ingredients track by $index">
          {{ing}}
        </div>
    </div>
</div>


<h4>Directions</h4>
<dl class="dl-horizontal" ng-repeat="instructions in view.recipe.instructions">
    <dt>{{instructions.id}}.</dt>
    <dd>
        {{instructions.instruction}}
    </dd>
</dl>

<!-- <div ng-show="view.showInstructionGetter">  -->
<div>
    <button class="btn btn-default" ng-click="view.getInstructions()" ng-show="view.recipe.instructions.length == 0">
        Get instructions
    </button>    
</div>






<pre>{{view.recipe | json}}</pre>
   